body {
	color: black;
	font-family: Bitter, Georgia, serif;
}

header, main, footer {
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
}

header img {
	margin: 0px;
	margin-left: 9px;
	height: 18px;
}

h1, h2 {
	font-style: italic;
}

h1 {
	font-size: 35px;
}

/* Fancy hr's */
.liner {
	display: flex;
	align-items: flex-start;
	text-align: left;
}
liner:after {
	content: '';
	flex-grow: 1;
	height: 5px;
	background: black;
	min-width: 20px;
	margin: auto;
}

liner:after {
	margin-left: 20px;
}

.name {
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
}

.flex-row {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.flex-column {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
}
.flex-column p {
	margin-top: 4px;
	margin-bottom: 4px;
}

.card {
	background-color: white;
	margin: 7px;
	width: inherit;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.card.major {
	width: inherit;
	margin-bottom: 25px;
	background-color: whitesmoke;
}

.card.header {
	margin-top: -10px;
	margin-left: -10px;
	width: 100%;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	font-weight: bold;
	font-size: 18px;
	color: white;
}

.card.subheader {
	margin-top: -10px;
	margin-left: -10px;
	width: 100%;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	font-weight: bold;
	font-size: 18px;
	color: black;
}

.card.major .card:not(.header) {
	margin: 5px;
}

.card-title {
	margin: 8px;
	color: black;
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
	/* text-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px; */
}

.subtitle {
	font-weight: bold;
	text-align: center;
}

header {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

header a {
	text-decoration: none;
	color: black;
	font-style: italic;
}

header a:hover {
	background-color: gray;
}

p a {
	color: royalblue;
}

img.home-pic {
	margin: auto;
	margin-bottom: 25px;
	width: 60%;
	display: flex;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

footer {
	color: whitesmoke;
	margin-top: 20px;
	text-align: center;
}

/* For easy backgrounds */

em {
	font-weight: bold;
}

.base00-bg { background-color: #181818; }
.base01-bg { background-color: #282828; }
.base02-bg { background-color: #383838; }
.base03-bg { background-color: #585858; }
.base04-bg { background-color: #b8b8b8; }
.base05-bg { background-color: #d8d8d8; }
.base06-bg { background-color: #e8e8e8; }
.base07-bg { background-color: #f8f8f8; }
.base08-bg { background-color: #ab4642; }
.base09-bg { background-color: #dc9656; }
.base0A-bg { background-color: #f7ca88; }
.base0B-bg { background-color: #a1b56c; }
.base0C-bg { background-color: #86c1b9; }
.base0D-bg { background-color: #7cafc2; }
.base0E-bg { background-color: #ba8baf; }
.base0F-bg { background-color: #a16946; }

.base00 { color: #181818; }
.base01 { color: #282828; }
.base02 { color: #383838; }
.base03 { color: #585858; }
.base04 { color: #b8b8b8; }
.base05 { color: #d8d8d8; }
.base06 { color: #e8e8e8; }
.base07 { color: #f8f8f8; }
.base08 { color: #ab4642; }
.base09 { color: #dc9656; }
.base0A { color: #f7ca88; }
.base0B { color: #a1b56c; }
.base0C { color: #86c1b9; }
.base0D { color: #7cafc2; }
.base0E { color: #ba8baf; }
.base0F { color: #a16946; }