<!DOCTYPE html>
<html lang="en">
<head>
	<title>Seth Bywater</title>
	{{ partial "include-styles.html" }}
</head>
<body id="frame">
	<!-- Topbar -->	
	<div id="main">
		{{ partial "big-topbar.html" . }}
		<div class="about-me">
			<h2>My Profile</h2>
			<table>
					<td>
						<p>I'm currently finishing my degree in Mechatronics Technology at SUNY Delhi. During my time here, I've enjoyed getting my hands dirty designing controls systems and installing them myself. Learning 3D design and simulation has been another highlight.</p>
						<p>Programming, mostly in Rust, has been a personal pursuit of mine. Even without a formal education, the spirit of optimization and creative problem solving which drew me to engineering is as present in algorithms as it is in electric motor design.</p>
						<p>When I'm not working on projects, I'm either out for a run or working at the cafe.</p>
					<td>
				</tr>
			</table>
		</div>
		<div class="card">
			<h2>Experience</h2>
			<table>
				<tr>
					<th class="date">2020-present</th>
					<th class="header">Barista - Starbucks</th>
				</tr>
				<tr>
					<td class="col-1"></td>
					<td>
						<p>I can make a hell of a latte, but if you're reading this that's probably irrelevant</p>
					<td>
				</tr>
			</table>
			<table>
				<tr>
					<th class="date">2019-present</th>
					<th class="header">President - SUNY Delhi Student Athlete Advisory Council</th>
				</tr>
				<tr>
					<td class="col-1"></td>
					<td>
						<p>Coordinate events and campaings for student-athletes and the entire campus including sports events, social awareness campaings, and community service projects.</p>
					<td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>
