{% extends "index.html" %}
{% block head %}
	{{ super() }}
	{% block title %}Blog - Seth Bywater{% endblock title %}
	<link rel="stylesheet" href="css/blog.css">
{% endblock head %}
{% block content %}
<div class="card">
    <h1>Recent posts</h1>
    <p><h2><a href="/post/Public_Policy">Journal: Public Policy and Blockchain</a></h2>
    	October 14 2021
    </p>
    <p><h2><a href="/post/Dark_Economy">Journal: The Dark Economy and Cryptomarkets</a></h2>
    	September 30 2021
    </p>
    <p><h2><a href="/post/Toponymics">A Place by Any Other Name: Toponymics as a medium of public history</a></h2>
    	April 10 2021
    </p>
    <p><h2><a href="/post/Attacks_and_Arguments">Journal: Attacks and Arguments Against Cryptocurrency</a></h2>
    	September 23 2021
    </p>
    <p><h2><a href="/post/Why_Crypto">Journal: Why Cryptocurrency</a></h2>
    	September 16 2021
    </p>
    <p><h2><a href="/post/History">Journal: History of Blockchain & Cryptocurrency</a></h2>
    	September 2 2021
    </p>
    <p><h2><a href="/post/The point of this website">The point of this website</a></h2>
        July 11 2021
    </p>
    <p><h2><a href="/post/Cryptocurrency Independent Study Proposal">Cryptocurrency Independent Study Proposal</a></h2>
        May 2021
    </p>
</div>
{% endblock content %}
