<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<title>{% block title %}{% endblock title %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial scale=1.0"/>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	{% endblock head %}
</head>
<body>
	<div class="topbar">
		<a class="name" href="/">Seth Bywater</a>
		<a href="/resume">Resume</a>
		<a href="/blog">Blog</a>
		<a href="/keys">Keys</a>
		<div style="float: right">
			<a class="words">Also find me on: </a>
			<a href="https://github.com/sethbywater"><i class="fa fa-github"></i></a>
			<a href="https://www.linkedin.com/in/sethbywater/"><i class="fa fa-linkedin"></i></a>
		</div>
	</div>
	<div class="main">
		{% block content %}{% endblock content %}
	</div>
	<footer>
		<hr>
		<p>Author: Seth Bywater<br>
		<a href="mailto:contact@sethbywater.com">contact@sethbywater.com</a></p>
	</footer>
</body>
</html>
