{% extends "index.html" %}
{% block title %}Seth Bywater{% endblock title %}
{% block head %}
	{{ super() }}
{% endblock head %}
{% block content %}
<div class="card">
	<article style="font-family: monospace;">
		<center><p>-----BEGIN PGP PUBLIC KEY BLOCK-----</p></center>
		<center><p>mQGNBGGzoFYBDADDCgy4Pdghg5pwG5C2NwBGaS6yhYzdybVMiw0xKtn6A8HTfAII
			lxT1yzEcJQ77T+ijYPROutk10Gr2DophALeCfluJmOMBGFVHPhl2zFo2Au8sDZFY
			CkBfMQi70XpZIX60ay1VymGxF2MsDjKjk/OztMWR6lPwlZ8z/6cbOedXeXyNfB/T
			gL7W8+RX5E8OQ6bZE0Ib3dlLxJk4Iw3c4+s/PMvrJwMHOv6rD6PRQixgGDtzu8mX
			jHnzdk/eRz+TOlFbLiSFVuQ5lfyuf/bv5y9Z7kfjkuCWGzIJFwOyxcTirlnn+S2u
			7VLXF7eQ2rjfSpMZsK1tT5cD7wbYyNWSg4aTrnr+fqrQa7cAXNnt/OrU8L3y/TBu
			TuuKGi2gtzWVtasLNYRll5bKRGlwWd1YS0hLnyEk+bFJaF13wvacUhEvhboUsMNz
			3j0gUC0EfFqJmUnkFK5jZFX8eXkaDO2H7/d0L/+doNi23D6+BfDR3Mlda+zWeEX4
			m/k05vgRtVD5Xb0AEQEAAbQjU2V0aCBCeXdhdGVyIDxzZXRoQHNldGhieXdhdGVy
			LmNvbT6JAdQEEwEKAD4WIQTulDFvsa5fqWpl3dos8hdbaEeRBQUCYbOgVgIbAwUJ
			A8JnAAULCQgHAgYVCgkICwIEFgIDAQIeAQIXgAAKCRAs8hdbaEeRBeWZDACUwQrZ
			p0du4bRS7fs1HR/71ofiO1RNfKz5ftSJvci4D4cEZQQbP+sqaARgVfSXzBIBoOfB
			duBzialTaqkCUlJw7X/Kr1r81o1P6hN4AALtTrsMMhz8gH7MSvNEZjYKLEb/87qB
			ECj2lc4Q8XaGCoIq7Uy5WqVvECKsWhfzEqQz1pkon95X6NwhAlfF33GTShp4dJXM
			zamjHH8OLbfrpkAOpAkpMLfS+Ycdh7y31yfagJFyME/wKXsqhKWPdEcy39sWX6RY
			r+sZdiVhAYn0t58jFdqlLcIoO/6BOC8H/MkvPHNmPE11pTjNmKmXqPaTeSZOqdfX
			foRfI6Rm6unk17dWokZhzteHJDs0kQ1S9mi/IYw841nnL4o52MqNBE4MXUyaJ4YF
			M3iNKu0vWEBaLGx9xHoORvIASET+xXSR140bf+W1FLX6rKU9BBSYbzs3x++b5/3t
			3Zp7aKIIacUzIwGQGIAt6myqDLzHLnGLCt7ZeYS2ekhDm+xovgkQ+psUogG5AY0E
			YbOgVgEMAMVEVH75GMr5cb8/EZIkaKnW6/i1Lm2Tvt/UzpnZQm8KOTp2dPsEz7aF
			baV991DRpTpxoYWIRUAF5WfH4p30uPL5eCzwwwRo8cfkT/toxjgtuz8HPBQUiEJa
			ApiyDlvU8Tqh2UFgZ2Y556PXMtM5ASJh3tgrdOtMFI7QSVD4Lgql2hRwxQEQBgED
			bA23Hh0qoEpggVSCUj/NvQJ20F0UZ39PQIeOYgs0BPxa2qW0fBm2qByhHog3QbHi
			CG9exm+P20lzmKVVwZU/slXiSk1+Qbnhr+ooCyPFSQZWcJz1fEfCpQw/JK8rZH4J
			PmUZYXmDJiiJhHTlVBmk7s5HLIk2pKzBBTaZKrgf3EIHNHTZt0/rq+Y8NPprYUIi
			QisAeoTz5rZZpK9MkJO9WXRS3RbnwE3sVd1juylOIKuO9pBmokhZwYrkgqOnu6hV
			B5NxDpEt1KE/dqCP50BZUzWUm56eow7+IN46ef7SwFcmhRfdwp51sSlf1ofI+bYs
			5ITi0ez7oQARAQABiQG8BBgBCgAmFiEE7pQxb7GuX6lqZd3aLPIXW2hHkQUFAmGz
			oFYCGwwFCQPCZwAACgkQLPIXW2hHkQUdcQwAl9iuFX5kV4rfFzDVMsO4thlbMpGh
			UYtqTXI/xqZAzssvQ/u6BmicLDGvmeWv90GpH4F2MhFMDbFShe690elhRnNQcuTg
			2dV0HPPJe7QW5GSafKcclMNNLbJkgXAz9GI3lCOVPHyjfUXcQowItzQbgkpXHx+S
			iNGixZ2ZLcIoerAliRXOugFmVCFv3MdnCVr9pFBZuDXp5AJ3tbDl9rBVvy9PC7oV
			DsLfCYJCdua0QDzMXIPi3kK7gPpoTpn4OD1Uxa5qhU2RVb+aCzbdD6brg+VXIt2q
			XKnU2WmeyZS3JpmlsvTungaathb/U/N8Jb0cpLbGgN7Kl/1ExCd433BbCZsu4dw9
			MgTy3S0xHipNciP9EZMysIa27yv8w0JkIvyVVSK13x/4WPShZu9nu/QkCKZ1LpTj
			08NNKlG974c1Y0b5IKCiZ/gI9FBe4DyjRiefQxWZDShc6O34YmVma/EvOo2g2Pwq
			vdqRb3+rjfdQz1vHlB7tM7TZOXy7fjnVAO1j
			=l6x8</p></center>
		<center><p>-----END PGP PUBLIC KEY BLOCK-----</p></center>
	</article>
</div>
{% endblock content %}
