{% extends "index.html" %}
{% block head %}
	{{ super() }}
	{% block title %}Seth Bywater - Resume{% endblock title %}
	<link rel="stylesheet" href="css/resume.css">
{% endblock head %}
{% block content %}
<div class="resume">
	<a class="resume-btn" href="Bywater Resume.pdf">Download</a>
	<div class="about-me">
		<h2>My Profile</h2>
		<table>
			<td>
				<p>I'm currently finishing my degree in Mechatronics Technology at SUNY Delhi. During my time here, I've enjoyed getting my hands dirty designing controls systems and installing them myself. Learning 3D design and simulation has been another highlight.</p>
				<p>Programming, mostly in Rust, has been a personal pursuit of mine. Even without a formal education, the spirit of optimization and creative problem solving which drew me to engineering is as present in algorithms as it is in electric motor design.</p>
				<p>When I'm not working on projects, I'm either out for a run or working at the cafe.</p>
			</td>
		</table>
	</div>
	<div class="card">
		<h2>Experience</h2>
		<hr>
		<table>
			<tr>
				<th class="date">2019-present</th>
				<th class="header">President - SUNY Delhi Student Athlete Advisory Council</th>
			</tr>
			<tr>
				<td class="col-1"></td>
				<td>
					<p>Coordinate events and campaings for student-athletes and the entire campus including sports events, social awareness campaings, and community service projects.</p>
				<td>
			</tr>
		</table>
		<table>
			<tr>
				<th class="date">2020-2021</th>
				<th class="header">Barista - Starbucks</th>
			</tr>
			<tr>
				<td class="col-1"></td>
				<td>
					<p>Delivered a positive customer ecperience, made orders in a
						time-sensitive enviroment, and maintained inventory / facilities</p>
				<td>
			</tr>
		</table>
		<h2>Education</h2>
		<table>
			<tr>
				<th class="date">2019 - 2022</th>
				<th class="header">BT in Mechatronics Technology - SUNY Delhi</th>
			</tr>
			<tr>
				<td></td>
				<td>3.98 GPA, honor's student, student-athlete. On track to graduate early.</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<br>
					<em style="color: grey; font-style: italic; font-weight: bold">Sample Coursework</em>
					<ul>
						<li>Electrical Troubleshooting</li>
						<li>Geometric Dimensioning & Tolerancing</li>
						<li>Feedback & Controls Systems</li>
						<li>Manufacturing & Machining</li>
						<li>Hydraulics & Pneumatics</li>
						<li>Engineering Economics</li>
						<li>Cybersecurity</li>
					</ul>
				</td>
			</tr>
		</table>
		<h2>Skills</h2>
		<h3><em>Instrumentation Controls</em></h3>
		<ul>
			<li>Mechanical, electrical/electronic design</li>
			<li>Combined electromechanical systems</li>
			<li>Testing and analysis</li>
		</ul>
		<h3><em>Equipment</em></h3>
		<ul>
			<li>Electric motors</li>
			<li>VFD controllers</li>
			<li>Programmable Logic Controllers (PLCs)</li>
			<li>3D printers</li>
			<li>PCB design</li>
		</ul>
		<h3><em>Software</em></h3>
		<ul>
			<li>Rust / C++ / Python</li>
			<li>AutoCAD</li>
			<li>SolidEdge / SolidWorks / NX / Inventor</li>
			<li>Matlab</li>
			<li>Basic algorithms</li>
		</ul>
	</div>
</div>
{% endblock content %}
