.heading {
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
}

img {
    width: 400px;
    display: inline;
    border-radius: 5px;
}

.resume {
	width: 100%;
	margin-bottom: 20px;
	padding: 25px;
}
