.card {
    width: 950px;
    height: 520px;
}

.left {
    float: left;
    width: 485px;
}

.right {
    float: right;
    width: 445px;
}

.heading {
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
}

img {
    width: 400px;
    display: inline;
    border-radius: 5px;
}

@media screen and (max-width: 800px) {
	.card {
    		width: 100%;
		height: 1000px;
	}
	.left { width: 90% }
	.right { width: 90% }
	img { width: 300px; }
}
