body {
	font-family: "Times New Roman", Times, serif;
	background-color: #efefef;
	font-size: 20px;
	line-height: 1.4;
}

blockquote {
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

hr {
	color: #efefef;
}

.main {
	margin-top: 100px;
}

.middle {
	width: 800px;
	text-align: middle;
	margin-left: calc(50% - 400px);
}

.topbar {
	position: fixed;
	width: 100%;
	height: 50px;
	overflow: hidden;
	background-color: #1E282D;
	top: 0px;
	left: 0px;
	right: 0px;
	box-shadow: 4px 4px 6px #dddddd;
}

.topbar.left {
	float: left;
}

.topbar.right {
	float: right;
}

.topbar a {
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 18px;
}

.topbar a:hover:not(.words) {
	background-color: #797F8B;
}

.topbar a:active {
	background-color: #797F8B;
}

.topbar a.name {
	height: 70px;
	font-style: italic;
	overflow: visible;
	background-color: #797F8B;
}

.home-card {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 20px;
	border-radius: 5px;
  width: 950px;
  height: 550px;
	padding: 25px;
	box-shadow: 4px 4px 6px #dddddd;
}

.home-card .left {
	float: left;
	width: 485px;
}

.home-card .right {
	float: right;
	width: 420px;
}

.home-card img {
  width: 400px;
  display: inline;
  border-radius: 5px;
	margin: auto;
}

.card {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 20px;
	border-radius: 5px;
	width: 850px;
	padding: 25px;
	box-shadow: 4px 4px 6px #dddddd;
}

.card img {
	width: 800px;
}

.about-me {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 850px;
	padding: 25px;
}

.resume {
	width: 100%;
	margin-bottom: 20px;
	padding: 25px;
}

footer {
	width: 100%;
	color: #797F8B;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 75px;
	text-align: center;
}

footer p {
	vertical-align: center;
}

footer a {
	color: #797F8B;
}

footer hr {
	width: 300px;
}

@media screen and (max-width: 800px) {
	.card {
		width: 100%;
		margin: 0;
		border-radius: 0;
	}
	.about-me { width: 100% }
	.topbar {
		font-size: 12px;
		width: 800px;
	}
	.topbar.right { float: left; }
	.home-card {
		width: 100%;
		height: 1000px;
	}
	.left { width: 90% }
	.right { width: 90% }
	.home-card img { width: 70%; }
}
